<a href="https://colab.research.google.com/github/Magnet229/Shriram/blob/main/Shriram_Python_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter1 ex

In [1]:
print("Hello,world")

Hello,world

In [2]:
print("SPAM SPAM SPAM!")

SPAM SPAM SPAM!

CHAPTER 2 EXEC

In [4]:
name="john jacob jingleheimer schmidt"
print("the original name is - john jacob jingleheimer schmidt")
print(name.upper())
print(name.title())
print(name.count('j'))
print(len(name))
print(name.find('jacob'))

the original name is - john jacob jingleheimer schmidt
JOHN JACOB JINGLEHEIMER SCHMIDT
John Jacob Jingleheimer Schmidt
3
31
5

chapter3 exec

In [6]:
l=[100,0,37,-40]
t = []
for i in l:
  farenhite=((9*i)/5) + 32
  print(f"The given temp {i} has the equivalent {farenhite}.")
  t.append(farenhite)
print("-"*60)
for x in t:
  temp=(x-32)*(5/9)
  print(f"The given temp {x} has the equivalent {temp}.")

The given temp 100 has the equivalent 212.0.
The given temp 0 has the equivalent 32.0.
The given temp 37 has the equivalent 98.6.
The given temp -40 has the equivalent -40.0.
------------------------------------------------------------
The given temp 212.0 has the equivalent 100.0.
The given temp 32.0 has the equivalent 0.0.
The given temp 98.6 has the equivalent 37.0.
The given temp -40.0 has the equivalent -40.0.

chapter 4 exec

In [8]:
while True:
    t = input("Enter the temperature (or 'q' to quit): ")
    if t.lower() == 'q':
        print("OK, goodbye!")
        break
    try:
        temp = float(t)
        fahrenheit = (temp * 9/5) + 32
        print(f"{temp}째C is equal to {fahrenheit}째F")
    except ValueError:
        print("Invalid input. Please enter a number or 'q'.")

Enter the temperature (or 'q' to quit): 5
5.0째C is equal to 41.0째F
Enter the temperature (or 'q' to quit): q
OK, goodbye!

In [10]:
max = 26
min =0
while True:
  guess=((max+min)//2)
  print(guess)
  ans=input("is this your guess")
  if ans == "y":
    print("sooper")
    break
  if ans == "h":
    print("too high")
    max=guess
  if ans == "l":
    print("too low")
    min=guess

13
is this your guessl
too low
19
is this your guessl
too low
22
is this your guessh
too high
20
is this your guessy
sooper

chapter5 exec

In [13]:
for i in range(0,32):
  print(f"The power of 2^{i} is {2**i}")

The power of 2^0 is 1
The power of 2^1 is 2
The power of 2^2 is 4
The power of 2^3 is 8
The power of 2^4 is 16
The power of 2^5 is 32
The power of 2^6 is 64
The power of 2^7 is 128
The power of 2^8 is 256
The power of 2^9 is 512
The power of 2^10 is 1024
The power of 2^11 is 2048
The power of 2^12 is 4096
The power of 2^13 is 8192
The power of 2^14 is 16384
The power of 2^15 is 32768
The power of 2^16 is 65536
The power of 2^17 is 131072
The power of 2^18 is 262144
The power of 2^19 is 524288
The power of 2^20 is 1048576
The power of 2^21 is 2097152
The power of 2^22 is 4194304
The power of 2^23 is 8388608
The power of 2^24 is 16777216
The power of 2^25 is 33554432
The power of 2^26 is 67108864
The power of 2^27 is 134217728
The power of 2^28 is 268435456
The power of 2^29 is 536870912
The power of 2^30 is 1073741824
The power of 2^31 is 2147483648

In [14]:
l=[100,0,37,-40]
t = []
for i in l:
  farenhite=((9*i)/5) + 32
  print(f"The given temp {i} has the equivalent {farenhite}.")
  t.append(farenhite)

The given temp 100 has the equivalent 212.0.
The given temp 0 has the equivalent 32.0.
The given temp 37 has the equivalent 98.6.
The given temp -40 has the equivalent -40.0.

In [15]:
fruits=['  apple','Banana    ','orAnge']
clean_fruits=[f.lower().strip() for f in fruits]
print(clean_fruits)

['apple', 'banana', 'orange']

In [2]:
import math

is_prime = []
for n in range(2, 51):

    is_n_prime = True

    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            is_n_prime = False
            break
    if is_n_prime:
        is_prime.append(n)

print(is_prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

chapter6 exec

In [7]:
file_path="/content/test.txt"
with open(file_path,'r') as fp :
  fr = fp.read().splitlines()

  for i in enumerate(fr,1):
    print(i)

(1, ' shriram')
(2, ' sriraj')
(3, ' vishnu')
(4, ' bollu')
(5, 'chinnu')

In [11]:
file_path="/content/test.txt"
with open(file_path,'r') as fp :
  fr = fp.read().splitlines()

with open('a.txt','w') as f1:
  for i in fr:
    if i.strip().startswith('s'):
      f1.write(i.strip() + '\n')

with open('b.txt','w') as f2 :
  for i in fr:
    if i.strip().startswith('b'):
      f2.write(i.strip() + '\n')

In [17]:
with open('alice.txt','w') as ar :
  for i in range(392):
    ar.write("Alice\n")

In [18]:
file_path = 'alice.txt'
with open(file_path, 'r') as file:
    content = file.read()
    alice_count = content.count('Alice')
    print(f"The word 'Alice' appears {alice_count} times in {file_path}.")

The word 'Alice' appears 392 times in alice.txt.

In [26]:
n=int(input("enter the no.of files need to be searched:"))
for i in range(n):
  file_path = input("Enter the file path: ")
  enter_word = input("Enter the word to search for: ")
  with open(file_path,'r') as frc :
    s=frc.read()
    enter_word=enter_word.lower()
    print(s.lower().count(enter_word))

enter the no.of files need to be searched:1
Enter the file path: /content/test.txt
Enter the word to search for: ChiNNU
1

chapter 7 exec

pgm to get the last modification date

In [4]:
import os
from datetime import datetime

def format_time(time_stamp):
  return datetime.fromtimestamp(time_stamp).strftime('%m-%d-%Y ')
file_path = input("Enter the file path:")
mtime_S=os.path.getmtime(file_path)
time=format_time(mtime_S)
print(time)

Enter the file path:/content/sample_data/mnist_test.csv
10-23-2025

pgm to get the file size

In [10]:
import os
while True:
  file_path=input("enter the path here : ")
  if file_path.lower() == 'q':
    break
  if file_path:
    file_size=os.path.getsize(file_path)
    print(f"the size of th efile {file_path} is {file_size} bytes ")

enter the path here : /content/sample_data/mnist_test.csv
the size of th efile /content/sample_data/mnist_test.csv is 18289443 bytes
enter the path here : q

pgm to count no.of times for is used

In [14]:
import os

base_dir = "/content/sample_1_data"
total_for_count = 0

for root, dirs, files in os.walk(base_dir):
    for file in files:
        if file.endswith(".py"):
            file_path = os.path.join(root, file)
            file_for_count = 0
            try:
                with open(file_path, 'r') as f:
                    for line in f:
                        line_strip = line.strip()
                        if 'for' in line_strip:
                            file_for_count += 1
                            total_for_count += 1
                print(f"The file {file_path} has {file_for_count} 'for' statements.")
            except Exception as e:
                print(f"Error reading file {file_path}: {e}")

print(f"The total number of 'for' statements in all Python files is {total_for_count}.")

The file /content/sample_1_data/file1.py has 3 'for' statements.
The total number of 'for' statements in all Python files is 3.

pgm to copy files starts with p

In [17]:
import os
import shutil

base_dir = "/content/sample_1_data"
dst_dir = "/content/temp"
os.makedirs(dst_dir, exist_ok=True)
for root, dirs, files in os.walk(base_dir):
  for file in files:
    if file.lower().startswith('p'):
      src_path = os.path.join(root, file)
      dst_path = os.path.join(dst_dir, file)
      shutil.copy(src_path, dst_path)
      print(f"copied {file=}")

copied file='page1'

chapter 8 exec

In [30]:
dict1 = {}
file_path = "/content/testscores.dat"
try:
    with open(file_path,'r') as ts :
      for line in ts:

        parts = line.rstrip().split(":")

        if len(parts) == 3:
            name, mark, grade = parts
            dict1[name.strip()] = (mark.strip(), grade.strip())
        else:
            print(f"Skipping line with incorrect format: {line.rstrip()}")

    print("Test Scores (Sorted by Name):")

    for name in sorted(dict1.keys()):
        mark, grade = dict1[name]
        print(f"Name: {name}, Mark: {mark}, Grade: {grade}")

except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

Test Scores (Sorted by Name):
Name: Bollu, Mark: 85, Grade: C
Name: Chinnu, Mark: 96, Grade: A
Name: Shriram, Mark: 83, Grade: C
Name: Sriraj, Mark: 89, Grade: B
Name: Vishnu, Mark: 91, Grade: B

In [31]:
total_marks = 0
num_students = 0

for name, data in dict1.items():
  mark_str = data[0]
  try:
    mark = float(mark_str)
    total_marks += mark
    num_students += 1
  except ValueError:
    print(f"Could not convert mark '{mark_str}' for {name} to a number. Skipping.")

if num_students > 0:
  average_mark = total_marks / num_students
  print(f"\nThe average mark of the students is: {average_mark:.2f}")
else:
  print("\nNo valid student marks found to calculate the average.")

The average mark of the students is: 88.80

In [35]:
def file_name (files):
  with open(files,'r') as n:
    return set(l.strip().lower() for l in n )
f1=file_name('fruit1.txt')
f2=file_name('fruit2.txt')
print("fruits common in both ",f1&f2)

fruits common in both  {'grape', 'orange'}

chapter 9 exec

In [40]:
d_strings=["  apple","oRAnge    ","apriCOt    "]
op=[]
def clean_fruits(d_strings):
  for i in d_strings:
    x=i.lower().strip()
    op.append(x)
  return op
clean_fruits(d_strings)

['apple', 'orange', 'apricot']

In [41]:
def c2f(n):
  return ((9*n)/5) + 32
f=c2f(100)
print(f)

212.0

In [45]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  if b == 0:
    return "invalid number for division"
  else :
    return a/b

while True:
  a_input = input("Enter the first number (or 'q' to quit): ")
  if a_input.lower() == 'q':
    print("Exiting calculator.")
    break
  try:
    a = float(a_input)

    s = input("Enter the operator (+, -, *, /): ")
    if s.lower() == 'q':
      print("Exiting calculator.")
      break

    b_input = input("Enter the second number: ")
    if b_input.lower() == 'q':
      print("Exiting calculator.")
      break
    try:
      b = float(b_input)

      if s == '+':
        print("ans  = ",add(a,b))
      elif s == '-':
        print("ans  = ",sub(a,b))
      elif s == '*':
        print("ans  = ",mul(a,b))
      elif s == '/':
        result = div(a,b)
        print("ans  = ",result)
      else:
        print("invalid operator")
    except ValueError:
      print("Invalid input for the second number.")
  except ValueError:
    print("Invalid input for the first number.")

Enter the first number (or 'q' to quit): 5
Enter the operator (+, -, *, /): -
Enter the second number: 5
ans  =  0.0
Enter the first number (or 'q' to quit): q
Exiting calculator.